<div class="container">
  <footer class="footer">
    <p>&copy; {{ "site_published_title" | translate }} {{ now | localized_date: '%Y' }} </p>
    <p>

      {% include 'language_switcher_helper', parent_slug: parent_slug, tabulator: " | " %}

    </p>
  </footer>
</div>
