{% comment %} React handles {% endcomment %}
<div
  class="react-lightbox"
  data-image-source="{{ photo | resize: size }}"
  data-image-class="img-resizable"
  data-image-box-class="img-box text-center"
  data-image-alt='{{ legend | escape }}'>
</div>
