<div class="nav">
  <nav class="nav-wrapper">
    <ul class="nav-list">

      {% include 'nav_list_builder', nav_list_item_class: "nav-list-item", active_nav_list_item_class: "active-nav-list-item" %}

    </ul>
  </nav>
</div>
