@import "viewport-units-ios";
@import "bootstrap";

* {
  box-sizing: border-box;
}

////////////////////////////
// SAS Custom-ariables
////////////////////////////

// Aide mémoire: bootstrap color variables
// $gray-base:              #000 !default;
// $gray-darker:            lighten($gray-base, 13.5%) !default; // #222
// $gray-dark:              lighten($gray-base, 20%) !default;   // #333
// $gray:                   lighten($gray-base, 33.5%) !default; // #555
// $gray-light:             lighten($gray-base, 46.7%) !default; // #777
// $gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

// Aide mémoire: bootstrap media queries breakpoints
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
// @media (min-width: @screen-sm-min) { ... }
// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }
// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) { ... }

// Aide mémoire: bootstrap media queries variables
// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
// $screen-xs:                  480px !default;
// //** Deprecated `$screen-xs-min` as of v3.2.0
// $screen-xs-min:              $screen-xs !default;
// //** Deprecated `$screen-phone` as of v3.0.1
// $screen-phone:               $screen-xs-min !default;

// // Small screen / tablet
// //** Deprecated `$screen-sm` as of v3.0.1
// $screen-sm:                  768px !default;
// $screen-sm-min:              $screen-sm !default;
// //** Deprecated `$screen-tablet` as of v3.0.1
// $screen-tablet:              $screen-sm-min !default;

// // Medium screen / desktop
// //** Deprecated `$screen-md` as of v3.0.1
// $screen-md:                  992px !default;
// $screen-md-min:              $screen-md !default;
// //** Deprecated `$screen-desktop` as of v3.0.1
// $screen-desktop:             $screen-md-min !default;

// // Large screen / wide desktop
// //** Deprecated `$screen-lg` as of v3.0.1
// $screen-lg:                  1200px !default;
// $screen-lg-min:              $screen-lg !default;
// //** Deprecated `$screen-lg-desktop` as of v3.0.1
// $screen-lg-desktop:          $screen-lg-min !default;

// // So media queries don't overlap when required, provide a maximum
// $screen-xs-max:              ($screen-sm-min - 1) !default;
// $screen-sm-max:              ($screen-md-min - 1) !default;
// $screen-md-max:              ($screen-lg-min - 1) !default;

// My breakpoints for media queries
$my-screen-sm-min: $screen-sm; // From bootstrap -> 768px
$my-screen-md-min: 1024px;
$my-screen-lg-min: 1280px;
// Avoid overlapping with max-val
$my-screen-xs-max: $my-screen-sm-min - 1; // 767px
$my-screen-sm-max: $my-screen-md-min - 1; // 1023px
$my-screen-md-max: $my-screen-lg-min - 1; // 1279px

// Colors
$lighter-gray: #e6e6e6; // non-websafe
$light-gray: #ddd;
$opacified-black: rgba(0,0,0,.9);
$extreme-dark-gray: #262626;
$darker-gray: #666;
$dark-gray: #999;
$very-dark-red-with-transparency: rgba(27, 26, 26, 0.43);

// Tools colors
$button-bg-color: black;
$button-color: white;
$button-hover-color: black;
$button-bg-hover-color: grey;

$menu-button-hover-color: white;
$menu-button-color: $darker-gray;
$menu-button-icon-color: $dark-gray;

$side-nav-bg-color: white;
$side-nav-border-color: $lighter-gray;
$side-nav-item-color: $opacified-black;

$top-site-wide-header-bg-color: black;
$top-site-wide-header-border-color: $extreme-dark-gray;
$top-site-wide-header-logo-hover-color: white;
$top-site-wide-header-logo-color: $dark-gray;

$nav-bg-color: black;
$nav-item-color: $dark-gray;
$nav-item-hover-color: white;
$nav-item-active-color: white;

$index-page-header-color: white;

$event-border-color: $light-gray;
$event-hover-bg-color: $light-gray;
$event-category-color: $darker-gray;
$event-location-color: $darker-gray;

$language-switcher-footer-visited-color: $gray-dark; // From Bootstrap

$individual-news-heading-color: $dark-gray;

$light-box-bg-color: $very-dark-red-with-transparency;
$light-box-legend-color: white;

////////////////////////////
// SITE-WIDE TOOLSET
////////////////////////////
a {
  text-decoration: none;
}

section.section-bottom-margin {
  margin-bottom: 0px;
  @media (max-width: $my-screen-sm-max) and (min-width: $my-screen-sm-min) {
    margin-bottom: 70px;
  }
  @media (max-width: $my-screen-md-max) and (min-width: $my-screen-md-min) {
    margin-bottom: 72px;
  }
  @media (min-width: $my-screen-lg-min) {
    margin-bottom: 50px;
  }
}

section {
  .section-title {
    margin-left: -15px;
    @media (min-width: $my-screen-sm-min) {
      padding-top: 45px;
      padding-bottom: 45px;
    }
  }
}

.black-square-btn {
  color: $button-color;
  background-color: $button-bg-color;
  border-radius: 0px;
  &:hover {
    color: $button-hover-color;
    background-color: $button-bg-hover-color;
  }
}
div.spacer-for-content-header-of-sec-pages {
  margin-top: 50px;
}
////////////////////////////
// COMMON LOGO CLASSES FOR HEADER AND SIDNAV
////////////////////////////
.icon-logo {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
}
.icon-lg-logo {
  // FIXME - HEIGHT TO BE SET DEPENDING ON LOGO SIZE AND MAKE SIZE A SASS VARIABLE
  width: 131px;
  height: 66px;
  // SET DIFFERENT RESIZED IMAGES DEPENDING ON THE SCREEN SIZE
  // background-image: url('../images/..');
}
.icon-sm-log {
  // FIXME - HEIGHT TO BE SET DEPENDING ON LOGO SIZE AND MAKE SIZE A SASS VARIABLE
  width: 105px;
  height: 53px;
  // SET DIFFERENT RESIZED IMAGES DEPENDING ON THE SCREEN SIZE
  // background-image: url('../images/..');
}

////////////////////////////
// Side nav
////////////////////////////
body {
  div.side-nav {
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    @media (min-width: $my-screen-sm-min) {
      // GIVE SOME ROOM TO THE LOGO IN THE HEADER ON SMALL SCREENS
      top: 0px;
    }
    div.side-nav-wrapper-open {
      z-index: 1000;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
    div.side-nav-wrapper-close {
      -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    .side-nav-wrapper {
      position: relative;
      height: 100%;
      -webkit-transition: 240ms cubic-bezier(.25,.46,.45,.94) -webkit-transform;
      transition: 240ms cubic-bezier(.25,.46,.45,.94) transform;
      background-color: $side-nav-bg-color;
      font-size: 16px;
      -webkit-font-smoothing: subpixel-antialiased;
      @media (min-width: $my-screen-lg-min) {
        font-size: 17px;
      }
      @media (min-width: $my-screen-sm-min) {
        max-width: 250px;
      }
      .side-nav-scrollable {
        border-right: 1px solid $light-gray;
        height: -webkit-calc(100% - 49px);
        height: calc(100% - 49px);
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        .side-nav-logo {
          text-align: center;
          display: none;
          @media (min-width: $my-screen-sm-min) {
            display: block;
          }
          margin: 0 auto;
          width: 135px;
          padding: 17px 0 18px;
          @media (max-width: $my-screen-sm-max) and (min-width: $my-screen-sm-min) {
            padding: 14px 0 13px;
            width: 105px;
          }
        }
        .side-nav-list {
          margin: 0;
          padding: 0;
          list-style-type: none;
          margin-top: 11px;
          > li > a {
            display: block;
            padding: 0 25px;
            line-height: 35px;
            color: $side-nav-item-color;
          }
        }
      }
    }
  }
}
////////////////////////////
// Top site-wide thin header row formatting
////////////////////////////
body {
  header.header {
    background-color: $top-site-wide-header-bg-color;
    color: white;
    @media (max-width: $my-screen-xs-max) {
      height: 60px;
    }
    @media (max-width: $my-screen-sm-max) and (min-width: $my-screen-sm-min) {
      height: 85px;
    }
    .header-wrapper {
      width: 100%;
      top: 0;
      background-color: $top-site-wide-header-bg-color;
      z-index: 10;
      position: relative;
      @media (max-width: $my-screen-sm-max) {
        position: fixed;
      }
      .header-inner {
        position: relative;
        .header-logo {
          display: block;
          width: 100%;
          // FIXME - HEIGHT TO BE SET DEPENDING ON LOGO SIZE AND MAKE SIZE A SASS VARIABLE
          min-height: 106px;
          text-align: center;
          border-bottom: 1px solid $top-site-wide-header-border-color;
          @media (max-width: $my-screen-xs-max) {
            height: 60px;
            min-height: 60px;
          }
          @media (max-width: $my-screen-sm-max) and (min-width: $my-screen-sm-min) {
            min-height: 85px;
          }
          .header-logo-title {
            display: block;
          }
          // FIXME - SIMILAR TO A IN NAVBAR - REFACTOR AS A COMMON CLASS OR ADJUST
          a.header-logo-title {
            &:hover {
              color: $top-site-wide-header-logo-hover-color;
            }
            display: block;
            color: $top-site-wide-header-logo-color;
            font-size: 16px;
            @media (min-width: $my-screen-lg-min) {
              font-size: 17px;
            }
            .header-icon-logo {
              margin: auto;
              // FIXME - HEIGHT TO BE SET DEPENDING ON LOGO SIZE AND MAKE SIZE A SASS VARIABLE
              min-height: 60px;
              // min-height: 106px;
              @media (min-width: $my-screen-sm-min) {
                // min-height: 60px;
                min-height: 106px;
              }
              @media (max-width: $my-screen-sm-max) and (min-width: $my-screen-sm-min) {
                min-height: 85px;
              }
            }
          }
        }
        .header-menu {
          position: absolute;
          top: 0;
          left: 0;
          .menu-btn {
            text-decoration: none !important;
            .min-menu-icon {
              display: inline-block;
              margin: 0 14px 0 26px;
              width: 22px;
              line-height: initial;
              height: 18px;
              background-repeat: no-repeat;
              svg {
                  -webkit-transform: translateY(3px);
                  -ms-transform: translateY(3px);
                  transform: translateY(3px);
                path {
                    fill: $menu-button-color;
                }
                &:not(:root) {
                    overflow: hidden;
                }
              }
            }
            &:hover {
              color: $menu-button-hover-color;
              svg path {
                fill: $menu-button-hover-color;
              }
            }
            display: inline-block;
            color: $menu-button-icon-color;
            border: 0;
            @media (min-width: $my-screen-sm-min) {
              border-right: 1px solid $extreme-dark-gray;
            }
            line-height: 60px;
            @media (max-width: $my-screen-sm-max) and (min-width: $my-screen-sm-min) {
              width: 72px;
              line-height: 85px;
            }
            @media (min-width: $my-screen-md-min) {
              width: 129px;
              line-height: 106px;
            }
            font-size: 16px;
            @media (min-width: $my-screen-lg-min) {
              font-size: 17px;
            }
            .min-menu-icon {
              display: inline-block;
              margin: 0 14px 0 26px;
              height: 18px;
              width: 22px;
              line-height: initial;
              background-repeat: no-repeat;
            }
            span {
              display: none;
              @media (min-width: $my-screen-md-min) {
                display: initial;
              }
            }
          }
        }
      }
    }
  }
}

////////////////////////////
// Top navbar formatting
////////////////////////////
// For the scrollspy
body {
  position: relative;
}
body {
  div.nav {
    display: none;
    div.nav-wrapper {
      display: none;
    }
  }
  @media (min-width: $my-screen-md-min) {
    div.nav {
      display: block;
      height: 68px;
      background: black;
      nav.nav-wrapper {
        display: block;
        top: 0;
        &.affix-top {
          position: relative;
        }
        &.affix div.nav-menu-container {
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
        }
        width: 100%;
        min-height: 69px;
        line-height: 68px;
        text-align: center;
        background-color: $nav-bg-color;
        z-index: 3;
        -webkit-font-smoothing: subpixel-antialiased;
        .nav-menu-container {
          position: absolute;
          top: 0;
          -webkit-transform: translateX(-71px);
          -ms-transform: translateX(-71px);
          transform: translateX(-71px);
          border-right: 1px solid #262626;
          -webkit-transition: 100ms ease-in-out -webkit-transform;
          transition: 100ms ease-in-out transform;
          .nav-menu-button {
            display: block;
            width: 70px;
            height: 69px;
            .icon-menu {
              display: inline-block;
              width: 20px;
              height: 18px;
              background-repeat: no-repeat;
              svg {
                -webkit-transform: translateY(3px);
                -ms-transform: translateY(3px);
                transform: translateY(3px);
                path {
                  fill: #666;
                }
                &:not(:root) {
                  overflow: hidden;
                }
              }
            }
            &:hover svg path {
              fill: white;
            }
          }
        }
        ul.nav-list {
          margin: 0;
          padding: 0;
          list-style-type: none;
          background: black;
          z-index: 2;
          .nav-list-item {
            position: relative;
            display: inline-block;
            a {
              text-decoration: none;
              display: block;
              padding: 0 7px;
              font-size: 16px;
              color: $nav-item-color;
              &:hover {
                color: $nav-item-hover-color;
              }
              @media (min-width: $my-screen-lg-min) {
                padding: 0 18px;
                font-size: 17px;
              }
            }
          }
          .active-nav-list-item a {
            color: $nav-item-active-color;
          }
        }
      }
    }
  }
}

////////////////////////////
// Main content formating
////////////////////////////
body {
  ///////////////
  /* home page */
  ///////////////
  &.page-index {
    section.header-section {
      height: 70vh;
      position: relative;
      .header-content {
        height: 100%;
        width: 100%;
        .header-row {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
        }
        .header-bg-image-row {
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .header-text-row {
          color: $index-page-header-color;
          opacity: 1;
          z-index: 1;
          .vertical-positionner-wrapper-table {
            display: table;
            height: 100%;
            .vertical-positionner-wrapper-table-cell {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  ///////////////////////////////////////////
  /* news.liquid & news on the index page */
  ///////////////////////////////////////////
  div.news-listing {
    margin-bottom: 20px;
    .outer-wrapper-news-div {
      // position: relative;
      padding: 0px;
      border-style: none;
      .inner-wrapper-news-div {
        .news-teaser-wrapper {
          a {
            text-decoration: none;
            color: black;
            &:hover {
              color: #999;
            }
          }
        }
      }
      img {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
      .read-more-news-btn-container {
        text-align: right;
      }
    }
  }
  /////////////////
  /* events.liquid */
  /////////////////
  &.page-events {
    .event-outer-wrapper {
      padding-top: 70px;
      padding-bottom: 70px;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: $event-border-color;
      &:hover {
        background-color: $event-hover-bg-color;
      }
      img.my-media-size {
        width: 200px;
        height: 100px;
      }
      .my-event-media-body {
        padding-left: 55px;
        .my-event-media-heading {
          text-transform: uppercase;
        }
        .my-event-category {
          color: $event-category-color;
        }
        .my-event-location {
          color: $event-location-color;
        }
      }
      .my-event-btn-container {
        margin-top: 10px;
        @media (min-width: $my-screen-sm-min) {
          margin-top: 55px;
          text-align: right;
        }
        .my-event-btn {
          @media (max-width: $my-screen-sm-min) {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
  ///////////////////////////////////////////
  // React Transition Class - NO NOT TOUCH //
  ///////////////////////////////////////////
  .react-news-container-enter {
    opacity: 0.01;
  }
  .react-news-container-enter.react-news-container-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
  .react-news-container-leave {
    opacity: 1;
  }
  .react-news-container-leave.react-news-container-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
  .react-news-container-appear {
    opacity: 0.01;
    max-height: 0px;
  }
  .react-news-container-appear.react-news-container-appear-active {
    opacity: 1;
    max-height: 5000px;
    overflow: hidden;
    transition: opacity 3000ms ease-in, max-height 4000ms ease-in;
  }
  ///////////////
  /* Footer */
  ///////////////
  @keyframes for-footer {
      from {opacity: 0;}
      to {opacity: 1;}
  }
  .footer {
    opacity: 1;
    animation-name: for-footer;
    animation-duration: 4s;
    /********/
    margin-top: 70px;
    p {
      padding: 10px;
      text-align: center;
    }
    a, a:visited {
      color: $language-switcher-footer-visited-color;
    }
  }
  ///////////////
  /* news/content_type_template.liquid */
  ///////////////
  article.news {
    p.tags span {
      margin-left: 10px;
    }
    h3.posted-at {
      font-size: 20px;
      margin-top: 0px;
      color: $individual-news-heading-color;
    }
  }
}


/* Image box on about page */
/* phones */
.img-box {
  width: 100%;
  margin: 0px auto auto auto;
  .img-resizable {
    width: 800px;
    cursor: pointer;
  }
  .img-belittled {
    height: 300px;
  }
}
.lightbox {
  position: fixed;
  top: 0px; left: 0px;
  bottom: 0px; right: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: $light-box-bg-color;
  z-index: 1050;
  cursor: pointer;
  .img-enlarged {
     width: 800px;
  }
  p {
    color: $light-box-legend-color;
    font-weight: bold;
  }
}
