@import "viewport-units-ios";

* {
  box-sizing: border-box;
}

body {
  padding-top: 70px;
  /* home page */
  &.page-index {
    section.header-section {
      height: 90vh;
      position: relative;
      .header-content {
        height: 100%;
        width: 100%;
        .header-bg-image-row {
          height: 100%;
          width: 100%;
        }
        .header-text-row {
          /* FIXME - INSERT INTO A MEDIA QUERY */
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          /* UNTIL HERE */
          opacity: 1;
          z-index: 1;
          .vertical-positionner-wrapper-table {
            display: table;
            height: 100%;
            .vertical-positionner-wrapper-table-cell {
              display: table-cell;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
  /* news.liquid */
  &.page-news div.news-listing {
    margin-bottom: 20px;
    .outer-wrapper-news-div {
      padding: 10px;
    }
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .react-news-container-enter {
    opacity: 0.01;
  }

  .react-news-container-enter.react-news-container-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }

  .react-news-container-leave {
    opacity: 1;
  }

  .react-news-container-leave.react-news-container-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }
  .react-news-container-appear {
    opacity: 0.01;
    max-height: 0px;
  }

  .react-news-container-appear.react-news-container-appear-active {
    opacity: 1;
    max-height: 5000px;
    overflow: hidden;
    transition: opacity 3000ms ease-in, max-height 4000ms ease-in;
  }
  @keyframes for-footer {
      from {opacity: 0;}
      to {opacity: 1;}
  }

  /* The element to apply the animation to */
  .footer {
      opacity: 1;
      animation-name: for-footer;
      animation-duration: 4s;
  }
  /* news/content_type_template.liquid */
  article.news {
    p.tags span {
      margin-left: 10px;
    }
    h3.posted-at {
      font-size: 20px;
      margin-top: 0px;
      color: #999;
    }
  }
}


/* Image box on about page */
/* phones */
.img-box {
  width: 100%;
  margin: 0px auto auto auto;
  .img-resizable {
    width: 800px;
    cursor: pointer;
  }
  .img-belittled {
    height: 300px;
  }
}
.lightbox {
  position: fixed;
  top: 0px; left: 0px;
  bottom: 0px; right: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: rgba(27, 26, 26, 0.43);
  z-index: 1050;
  cursor: pointer;
  .img-enlarged {
     width: 800px;
  }
  p {
    color: white;
    font-weight: bold;
  }
}

/* the footer */
.footer {
  margin-top: 70px;
  p {
    padding: 10px;
    text-align: center;
  }
  a, a:visited {
    color: #333;
  }
}

