---
title: Page not found
published: true
---
{% extends 'layouts/default' %}

{% block content %}

<div class="container">
  <div class="jumbotron">
    {% editable_text jumbotron, rows: 5, priority: 1 %}
      <h1 class="text-danger">Arrggggh, page not found</h1>
      <p>It looks like you wandered a little too far! The page you are looking for does not exist.</p>
    {% endeditable_text %}
  </div>
</div>

{% endblock %}
