---
title: о
listed: true
published: true
position: 2
meta_description: "Страница \"о\" веб-сайта Центра для дружбы Франко - русской и Франко - китайский"

editable_elements:
    'content/header/featured_photo/legend': "Дали и Лицзян"
    'content/main/about_body':
      "
        <p>
          Благодарим Вас за посещение страницы Центра франко - русский - китайский Франко и дружбы. Наши цели центр на то, чтобы мир Место Доминируют триады великих держав, что поработить волю все обзоры других людей мира к ИКТ общего культурного идеология.
        </p>
        <p>
          Мы искренне надеемся, что вам нравится наш проект и Вы присоединитесь к нам доминирующей мир.
        </p>
      "
---
