---
title: About
listed: true
published: true
position: 2
meta_description: "About page for Art des Nations - General text and listing of the members of Art des Nations"

editable_elements:
    'content/header/featured_photo/legend': "Dali and Lijiang"
    'content/header/featured_photo/photo': "/images/china_bridge.jpg"
    'content/main/general_description_of_art_des_nations':
      "
        <p>
          Thank you for visiting the page of Art des Nations. Our centre aims at making the world a place dominated by a triad of super-powers that will enslave all the other people of the world to its common cultural ideology.
        </p>
        <p>
          We truly hope that you like our project and you will join us dominating the world.
        </p>
      "
    'content/main/first_group_heading': "Board Members"
    'content/main/second_group_heading': "Executives"
    'content/main/third_group_heading': "Contributors"
---
{% extends 'layouts/simple' %}


  {% block content/header %}
    <div class="row">
      <div class="col-sm-12">

      {% block 'featured_photo' %}
        {% comment %} Captured and editable legend for the featured photo {% endcomment %}
        {% editable_text 'Legend for the main photo', slug: 'legend', format: "raw", rows: 3, hint: "Text displayed below the photo and in the ALT attribute." %}
        {% endeditable_text %}
        {% comment %} Captured and editable file for the featured photo {% endcomment %}
        {% capture photo %}{% editable_file "photo" %}{% endeditable_file %}{% endcapture %}
        {% if photo == '' or photo == 'china_bridge.jpg' %}
          {% assign photo = 'china_bridge.jpg' | theme_image_url %}
        {% endif %}
        {% comment %} Including img_box liquid components (find it in snippets) {% endcomment %}
        {% include 'img_box' with legend: page.editable_elements.content.header.featured_photo.legend | escape, photo: photo, size: "800x>" %}
      {% endblock %}

      </div>
    </div>
  {% endblock %}

  {% block content/main %}

  <!------------------------------------------------------------------------------>

    {% comment %} Editable text for the description (about_body) {% endcomment %}
    {% editable_text "General description of Art des Nations", slug: "general_description_of_art_des_nations", rows: 20 %}
    {% endeditable_text %}

    {% editable_text "Heading for the first group of members", slug: 'first_group_heading', rows: 1, hint: "Please enter here the name of the first group of persons that will be displayed on the about page" %}
    {% endeditable_text %}

    {% editable_text "Heading for the second group of members", slug: 'second_group_heading', rows: 1, hint: "Please enter here the name of the second group of persons that will be displayed on the about page" %}
    {% endeditable_text %}

    {% editable_text "Heading for the third group of members", slug:'third_group_heading', rows: 1, hint: "Please enter here the name of the first group of persons that will be displayed on the about page" %}
    {% endeditable_text %}

  <!------------------------------------------------------------------------------>

    <div class="row">
      <div class="col-sm-12">
        {{ page.editable_elements.content.main.general_description_of_art_des_nations }}
      </div>
    </div>

  <!------------------------------------------------------------------------------>

    {% editable_model site_members, hint: 'some text' %}

      <div class="row">
        <div class="col-sm-12">
          <h1>
            {{ page.editable_elements.content.main.first_group_heading }}
          </h1>
        </div>
      </div>

      {% with_scope group: 'Board Member' %}
      {% for member in contents.site_members %}

        {% include 'member_block_in_about_page' with member: member %}

      {% endfor %}
      {% endwith_scope %}

    {% endeditable_model %}

  <!------------------------------------------------------------------------------>

    {% editable_model site_members, hint: 'some text' %}

      <!-- Executives section -->
      <div class="row">
        <div class="col-sm-12">
          <h1>
            {{ page.editable_elements.content.main.second_group_heading }}
          </h1>
        </div>
      </div>

      {% with_scope group: 'Executive' %}
      {% for member in contents.site_members %}

        {% include 'member_block_in_about_page' with member: member %}

      {% endfor %}
      {% endwith_scope %}

    {% endeditable_model %}

  <!------------------------------------------------------------------------------>

    {% editable_model site_members, hint: 'some text' %}

      <!-- Executives section -->
      <div class="row">
        <div class="col-sm-12">
          <h1>
            {{ page.editable_elements.content.main.third_group_heading }}
          </h1>
        </div>
      </div>

      {% with_scope group: 'Contributor' %}
      {% for member in contents.site_members %}

        {% include 'member_block_in_about_page' with member: member %}

      {% endfor %}
      {% endwith_scope %}

    {% endeditable_model %}

  {% endblock %}




