---
title: A propos
listed: true
published: true
position: 2
meta_description: "Page \"à propos\" du site internet du Centre pour l'amitié franco-russe et franco-chinoise"

editable_elements:
    'content/header/featured_photo/legend': "Dali et Lijiang"
    'content/main/about_body':
      "
        <p>
          Merci de votre visite le site du Centre l'amitié franco-russe et franco-chinoise. Notre centre a pour objectif de faire du monde un lieu dominé par une triade de super-puissances qui soumettront les autres peuples du monde à leur idéologie culturelle commune.
        </p>
        <p>
          Nous espérons sincèrement que vous aimerez notre projet et que vous nous rejoindrez dans la domination du monde.
        </p>
      "
---
