---
title: "欢迎"
published: true
listed: true
handle: home
position: 0
meta_description: "该国的艺术网站首页"
seo_title: "该国的艺术网站首页"
editable_elements:
  'content/header/header_photo_legend': "伟大的中国长城"
  'content/header/header_photo': "chinese_great_wall.jpg"
  'content/header/main_title': "理想标准节的第5版"
  'content/header/subtitle': "五月五日至2016年5月25日"
  'content/header/call_to_action_button': "探索计划"

  'content/featured_news/featured_news_section_title': "目前，"
  'content/older_news/older_news_section_title': "但是，仍然还"

  'content/header/first_column':
      "
      <h2>中国</h2>
      <p>数十亿人multithousand岁历史和丰富多样的饮食文化，中国已成为近年来的主要参与者在世界经济之一。而他的军队追赶，克服了东罗马帝国。</p>
      "
  'content/header/second_column':
      "
      <h2>法国</h2>
      <p>小曾经的大国，这一直影响范围大了非洲和欧洲方面，法国人爱酒和香肠，以及传说中的咖啡文化。</p>
      "
  'content/header/third_column':
      "
      <h2>俄国</h2>
      <p>深深植根于寒冷的土地上，俄罗斯是著名的革命，它的伏特加，其妇女，其国际象棋选手和武器装备是在负担得起的价格任何世界的一部分容易获得。</p>
      "
  'content/test/featured_photo/legend': "冬宫博物馆，圣彼得堡"
  'content/test/featured_photo/featured_photo': "saint_petersburgh_ermitage.jpg"
---
