---
title: "欢迎"
published: true
listed: true
handle: home
position: 0
meta_description: "该中心的网站主页，法俄友谊和法国 - 中国"
seo_title: "该中心的网站主页，法俄友谊和法国 - 中国"
editable_elements:
  'content/header/jumbotron_title': "实现通过友好和平"
  'content/header/jumbotron_sub_title': "了解我们的横贯大陆的友谊行动。"
  'content/header/btn_text': "请阅读我们的新闻"
  'content/header/first_column':
      "
      <h2>中国</h2>
      <p>数十亿人multithousand岁历史和丰富多样的饮食文化，中国已成为近年来的主要参与者在世界经济之一。而他的军队追赶，克服了东罗马帝国。</p>
      "
  'content/header/second_column':
      "
      <h2>法国</h2>
      <p>小曾经的大国，这一直影响范围大了非洲和欧洲方面，法国人爱酒和香肠，以及传说中的咖啡文化。</p>
      "
  'content/header/third_column':
      "
      <h2>俄国</h2>
      <p>深深植根于寒冷的土地上，俄罗斯是著名的革命，它的伏特加，其妇女，其国际象棋选手和武器装备是在负担得起的价格任何世界的一部分容易获得。</p>
      "
  'content/main/featured_photo/legend': "冬宫博物馆，圣彼得堡"
---
