---
title: For index
is_layout: false
---
{% extends 'layouts/default' %}

{% block content %}

<!-- ------------------------------------------------------------------ -->

<section class="header-section section-bottom-margin">
  <div class="fluid-container header-content">

    {% block header, short_name: true, priority: 1 %}

    {% endblock %}

  </div>
</section>

<!-- ------------------------------------------------------------------ -->

<section class="featured-news section-bottom-margin">
  <div class="container main-content">

    {% block featured_news, short_name: true %}

    {% endblock %}

  </div>
</section>

<!-- ------------------------------------------------------------------ -->

<section class="older-news section-bottom-margin">
  <div class="container main-content">

    {% block older_news, short_name: true %}

    {% endblock %}

  </div>
</section>

<!-- ------------------------------------------------------------------ -->

<section class="test-section section-bottom-margin">
  <div class="container main-content">

    {% block test, short_name: true %}

    {% endblock %}

  </div>
</section>


{% endblock %}
