---
title: Content type template default layout
is_layout: true
---
{% extends 'layouts/default' %}

{% block content %}

<!-- ------------------------------------------------------------------ -->

<section class="header-section">
  <div class="spacer-for-content-header-of-sec-pages">
    <div class="container header-content">

    {% block header, short_name: true, priority: 1 %}

    {% endblock %}

    </div>
  </div>
</section>

<!-- ------------------------------------------------------------------ -->

<section class="main-section">
  <div class="container main-content">

    {% block main, short_name: true %}

    {% endblock %}

  </div>
</section>

<!-- ------------------------------------------------------------------ -->

{% endblock %}
